<div class="login-page">
  <img class="login-logo" src="./assets/rocketchat.logo.svg">
  <ion-card class="login-card" center>
    <ion-card-header>
      Login
    </ion-card-header>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" [(ngModel)]="model.username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="model.password"></ion-input>
    </ion-item>
    <ion-row class="login-buttons">
      <button ion-button (click)="login()">Login</button>
    </ion-row>
  </ion-card>
</div>
