<!--<ion-header>-->
  <!--<ion-toolbar>-->
    <!--<button ion-button menuToggle>-->
      <!--<ion-icon name="menu"></ion-icon>-->
    <!--</button>-->
    <!--<ion-title>-->
      <!--Welcome-->
    <!--</ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->
<ion-content padding class="content">
  <img src="assets/images/rocketchat.logo-dark.svg">
  <p> Have your own web chat. Developed with Meteor.com, Rocket.Chat is a great solution for
    developers looking forward to build and evolve their own chat platform.</p>
  <p><b>← Use the side menu to access your rooms and chats.</b></p>

  <div>
    <h4>Join the Community</h4>
    <p>Follow our social profiles, fork us on github and share your thoughts about the rocket.chat app on our
      trello board.</p>
    <nav>
      <a ion-button color="light" target="_blank" href="https://twitter.com/RocketChatApp"><span>Twitter</span></a>
      <a ion-button color="light" target="_blank"
         href="https://www.facebook.com/RocketChatApp"><span>Facebook</span></a>
      <a ion-button color="light" target="_blank" href="https://plus.google.com/+RocketChatApp"><span>Google Plus</span></a>
      <a ion-button color="light" target="_blank" href="https://github.com/RocketChat/Rocket.Chat"><span>Github</span></a>
      <a ion-button color="light" target="_blank" href="https://www.linkedin.com/company/rocket-chat"><span>LinkedIn</span></a>
    </nav>
  </div>


</ion-content>
