<div class="channel-item" (click)="gotoChannel(channel.title)">
  <span class="channel-title">
    <i class="channel-icon fa" [ngClass]="['fa-' + channelSymbol]" aria-hidden="true"></i>
    <span>{{channel.title}}</span>
  </span>
  <span>
    <button class="button-icon" ion-button clear color="light" icon-only>
      <ion-icon  name="eye-off" is-active="false" (click)="hideChannel()"></ion-icon>
    </button>
    <button class="button-icon" ion-button clear color="light" icon-only>
       <ion-icon name="exit" (click)="hideChannel()"></ion-icon>
    </button>
  </span>
</div>

