.home-page{
  position: absolute;
  width:100%;
  height: 100%
}

.main-header {
  position: relative;
}

@media screen and (min-width: 576px) {
  .menu-content-open {
    width: calc(100% - 304px) !important;
  }
}

.home-menu-content{
  background-color: #044b76;
}

.home-menu-header{
  background-color: #04436a;
}

.home-menu-footer{
  background-color: #04436a;
}

.menu-item{
  color:#89aabe;
  background-color: #044b76;
}
