<ion-menu type="push" [content]="content" [enabled]="true">
  <ion-header class="home-menu-header">
    <ion-title>Menu</ion-title>
  </ion-header>
  <ion-content class="home-menu-content">
    <ion-list no-lines no-padding>
      <channel-item class="menu-item" *ngFor="let channel of channels" [channel]="channel"></channel-item>
    </ion-list>
  </ion-content>
  <ion-footer class="home-menu-footer">
    <button ion-button (click)="logout()">Logout</button>
  </ion-footer>
</ion-menu>

<div class="home-page" #content>
  <ion-header class="main-header">
    <ion-toolbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>{{pageTitle.title}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <router-outlet></router-outlet>
</div>

