.login-page{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #022235, #04436a)
}

.login-card{
  margin: 50px;
  max-width: 500px;
}

.login-buttons{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.login-logo{
  width: 80%;
}
