.login-page{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #022235, #04436a)
}

.login-card{
  margin: 100px auto;
  max-width: 500px;
}

.login-buttons{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.login-logo{
  position: absolute;
  width: 90%;
  top: 50px;
}
