.home-menu-content {
  background-color: #044b76;
  height: 100%;
  padding-top: 56px;
  overflow: auto;
}

.home-menu-header {
  color: #89aabe;
  .toolbar-background {
    background: #04436a !important;
  }
  .toolbar-title {
    color: #89aabe;
  }
}

.home-menu-footer {
  background-color: #04436a;
  display: flex;
  justify-content: center;
}

.logout-button {
  background-color: #04436a;
  width: 100%;
}

.menu-item {
  color: #89aabe;
  background-color: #044b76;
}

.toolbar-row {
  display: flex;
  align-items: center;
}

.text-title {
  padding: 0.5em;
}

.sub-sidenav-header {
  color: #89aabe;
  margin: 20px 10px 5px 10px;
  font-size: 1em;
  font-weight: 500;
}

.margin-left {
  margin-left: 5px;
}
