<div fxLayout="column" fxLayoutAlign="center center" class="container">
  <img class="rcimage" src="../../assets/images/rc-with-title.svg" />
  <md-card class="login-card">

    <md-card-content>
      <div class="social">
        <button class="facebook" md-mini-fab><md-icon class="white-text" svgIcon="facebook"></md-icon></button>
        <button class="twitter" md-mini-fab><md-icon class="white-text" svgIcon="twitter"></md-icon></button>
        <button class="github" md-mini-fab><md-icon class="white-text" svgIcon="github"></md-icon></button>
        <button class="google-plus" md-mini-fab><md-icon class="white-text" svgIcon="google-plus"></md-icon></button>
        <button class="gitlab" md-mini-fab><md-icon svgIcon="gitlab"></md-icon></button>
        <button class="meteor" md-mini-fab><md-icon class="white-text" svgIcon="meteor"></md-icon></button>
        <button class="linkedin" md-mini-fab><md-icon class="white-text" svgIcon="linkedin"></md-icon></button>
      </div>
      <div class="input-div">
        <md-input-container class="input-field">
          <input mdInput placeholder="Name" type="text" />
        </md-input-container><br>
        <md-input-container class="input-field">
          <input mdInput placeholder="Email" type="email" />
        </md-input-container><br>
        <md-input-container class="input-field">
          <input mdInput placeholder="Password" type="password" />
        </md-input-container><br/>
        <md-input-container class="input-field">
          <input mdInput placeholder="Confirm Password" type="password" />
        </md-input-container>
      </div>
      <md-card-actions align="center">
        <button color="primary" md-raised-button>Sign Up</button>
        <button md-raised-button >Login</button>
      </md-card-actions>
    </md-card-content>
  </md-card>

</div>


