<ion-header>
  <ion-title># {{channel}}</ion-title>
</ion-header>
<ion-content #chatContent padding>
  <ion-infinite-scroll position="top">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-list no-lines no-padding>
    <ion-item *ngFor="let message of messages">
      <div>{{message.content}}</div>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-row class="message-row">
    <ion-input #messageInput class="message-input" type="text" placeholder="Message"
               [(ngModel)]="model.message" (keyup.enter)="sendMessage()"></ion-input>
    <button class="send-button" ion-item (click)="sendMessage()">
      <ion-icon name="paper-plane"></ion-icon>
    </button>
  </ion-row>
</ion-footer>
