<ion-header>
  <ion-toolbar>
    <button class="menu-icon-button" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{isDirect ? '@' : '#'}} {{channel?.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div #chatContent class="message-scroller">
    <div class="loading-spinner" *ngIf="chatService.isLoadingMoreMessages() || initialLoading">
      <ion-spinner name="bubbles" ></ion-spinner>
    </div>
    <ion-item *ngFor="let message of messages" no-lines>
      <chat-message [message]="message"></chat-message>
    </ion-item>
  </div>
</ion-content>
<ion-footer>
  <ion-row class="message-row">
    <ion-input #messageInput class="message-input" type="text" placeholder="Message"
               [(ngModel)]="model.message" (keyup.enter)="sendMessage()"></ion-input>
    <button item-right class="send-button" ion-item (click)="sendMessage()" (focus)="sendMessageButtonFocus($event)">
      <ion-icon name="paper-plane"></ion-icon>
    </button>
  </ion-row>
</ion-footer>




