<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title># {{channel}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content #chatContent>
  <!--<ion-infinite-scroll position="top">-->
    <!--<ion-infinite-scroll-content loadingSpinner="bubbles">-->
    <!--</ion-infinite-scroll-content>-->
  <!--</ion-infinite-scroll>-->

  <ion-list no-lines no-padding>
    <ion-item *ngFor="let message of messages">
      <chat-message [message]="message"></chat-message>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-row class="message-row">
    <ion-input #messageInput class="message-input" type="text" placeholder="Message"
               [(ngModel)]="model.message" (keyup.enter)="sendMessage()"></ion-input>
    <button item-right class="send-button" ion-item (click)="sendMessage()">
      <ion-icon name="paper-plane"></ion-icon>
    </button>
  </ion-row>
</ion-footer>
