.menu-button:hover {
  background-color: rgb(200, 200, 200);
}

.menu-icon-button {
  @media screen and (min-width: 767px) {
    display: none;
  }
}

.message-row {
  display: flex;
}

.send-button {
  background: #f4f4f4;
  width: 48px;
}

.message-scroller {
  overflow: auto;
  position: absolute;
  height: 100%;
  width: 100%;
}

.loading-more-spinner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 66px;
}

.loading-spinner-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.message-input {
  display: flex;
}
