@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

@include mat-core();

$primary: mat-palette(#04436a);
$accent:  mat-palette(#416e98,#001d3f);

// The warn palette is optional (defaults to red).
//$warn:    mat-palette($mat-red, 600);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
@include covalent-theme($theme);
